Repository reuniverse/reuniverse, pull requests merged in 2019-07, with the labels that each got.

#7 Update azure-pipelines setup
  .ci/build-package-index.yml
  .ci/build-platform.yml
  .ci/build-web.yml
  .ci/cross-release.yml
  .ci/pipelines-release.js
  .ci/release-platform-setup.yml
  .ci/utils/create-docs.yml
  .ci/utils/run-tests.yml
  azure-pipelines.yml
  esy.json
Labels: enhancement, pipelines

#9 Refine packages with compilation target
  3rdparty/npm/dune
  3rdparty/npm/dune-project
  3rdparty/npm/npm.opam
  3rdparty/npm/npm.re
  3rdparty/npm/search.re
  3rdparty/unpkg/dune
  3rdparty/unpkg/dune-project
  3rdparty/unpkg/unpkg.opam
  3rdparty/unpkg/unpkg.re
  esy.json
  esy.lock/index.json
  esy.lock/opam/semver2.1.0.0/opam
  index_builder/dune
  index_builder/npm_scanner.re
  model/package.re
  packages/index.json
  web/_bundle/index.js
  web/design_system/components.re
  web/lib/js/design_system/components.bs.js
  web/lib/js/pkg_index/pkg_index_data.bs.js
  web/lib/model/index.cmi
  web/lib/model/index.cmt
  web/lib/model/package.bs.js
  web/lib/model/package.cmi
  web/lib/model/package.cmj
  web/lib/model/package.cmt
  web/lib/model/package.mlast
  web/pkg_index/pkg_index_data.re
Labels: enhancement, indexing

#10 Symlink model and utils into web project
  web/_bundle/index.js
  web/bsconfig.json
  web/dune
  web/lib/js/design_system/components.bs.js
  web/lib/js/model/index.bs.js
  web/lib/js/model/model.bs.js
  web/lib/js/model/package.bs.js
  web/lib/js/model/version.bs.js
  web/lib/js/pkg_index/pkg_index_data.bs.js
  web/lib/js/utils/infix.bs.js
  web/lib/js/utils/utils.bs.js
  web/lib/model/index.cmi
  web/lib/model/index.cmj
  web/lib/model/model.cmi
  web/lib/model/model.cmj
  web/lib/model/package.cmi
  web/lib/model/package.cmj
  web/lib/model/package.cmt
  web/lib/utils/utils.cmi
  web/lib/utils/utils.cmj
  web/model
  web/utils
Labels: pipelines, web

#14 First stab at separate app + DS for package search
  web/_bundle/index.js
  web/assets/logo.svg
  web/assets/reuniverse_avatar.png
  web/assets/reuniverse_avatar.svg
  web/bsconfig.json
  web/design_system/components.re
  web/design_system/design_system.re
  web/dune
  web/lib/js/design_system/components.bs.js
  web/lib/js/design_system/design_system.bs.js
  web/lib/js/pkg_index/pkg_index.bs.js
  web/lib/js/search/pkg_index_data.bs.js
  web/lib/js/search/search.bs.js
  web/lib/js/webapp.bs.js
  web/package.json
  web/pkg_index/pkg_index.re
  web/search/pkg_index_data.re
  web/search/search.re
  web/webapp.re
Labels: web

#13 Add deploy stage
  .ci/build-web.yml
  azure-pipelines.yml
Labels: pipelines

#15 Run a build every hour on minute 0
  azure-pipelines.yml
Labels: enhancement, pipelines

#16 Use dist folder instead of _bundle
  web/.gitignore
  web/_bundle/index.js
  web/index.html
  web/package.json
Labels: bug, web

#18 Add built by footer
  .ci/build-web.yml
  web/.gitignore
  web/design_system/design_system.re
  web/index.html
  web/lib/js/design_system/design_system.bs.js
  web/lib/js/metadata.bs.js
  web/lib/js/webapp.bs.js
  web/metadata.re
  web/webapp.re
Labels: web

#21 Split Design system into various modules
  web/design_system/design_system.re
  web/design_system/ds_background.re
  web/design_system/ds_container.re
  web/design_system/ds_footer.re
  web/design_system/ds_global.re
  web/design_system/ds_label.re
  web/design_system/ds_link.re
  web/design_system/ds_loading.re
  web/design_system/ds_logo.re
  web/design_system/ds_nav.re
  web/design_system/ds_package_card.re
  web/design_system/ds_package_list.re
  web/design_system/ds_search_input.re
  web/design_system/ds_tiny_title.re
  web/lib/js/design_system/design_system.bs.js
  web/lib/js/design_system/ds_background.bs.js
  web/lib/js/design_system/ds_container.bs.js
  web/lib/js/design_system/ds_footer.bs.js
  web/lib/js/design_system/ds_global.bs.js
  web/lib/js/design_system/ds_label.bs.js
  web/lib/js/design_system/ds_link.bs.js
  web/lib/js/design_system/ds_loading.bs.js
  web/lib/js/design_system/ds_logo.bs.js
  web/lib/js/design_system/ds_nav.bs.js
  web/lib/js/design_system/ds_package_card.bs.js
  web/lib/js/design_system/ds_package_list.bs.js
  web/lib/js/design_system/ds_search_input.bs.js
  web/lib/js/design_system/ds_tiny_title.bs.js
  web/lib/js/metadata.bs.js
  web/lib/js/search/search.bs.js
  web/lib/js/webapp.bs.js
  web/lib/model/index.cmt
  web/lib/model/index.d
  web/lib/model/index.mlast
  web/lib/model/model.cmt
  web/lib/model/model.d
  web/lib/model/model.mlast
  web/lib/model/package.d
  web/lib/model/package.mlast
  web/lib/model/version.cmi
  web/lib/model/version.cmj
  web/lib/model/version.cmt
  web/lib/model/version.d
  web/lib/model/version.mlast
  web/lib/utils/infix.cmi
  web/lib/utils/infix.cmj
  web/lib/utils/infix.cmt
  web/lib/utils/infix.d
  web/lib/utils/infix.mlast
  web/lib/utils/utils.cmt
  web/lib/utils/utils.d
  web/lib/utils/utils.mlast
Labels: enhancement, web

#22 Bootstrap RFCs and propose Reuniverse goals
  rfcs/0000-template.md
  rfcs/0001-reuniverse.md
Labels: rfc

#25 Download Packages
  .gitignore
  cli/dune
  cli/reuniverse.re
  index_builder/index_builder.re
  packages/build-all-docs.sh
  packages/dune
  packages/index.json
  pkg_downloader/dune
  pkg_downloader/pkg_downloader.re
Labels: doc-generation

#30 Draft 2019 Roadmap
  meetings/2019-07-13.md
  rfcs/0001-reuniverse.md
  rfcs/0003-roadmap-2019.md
Labels: rfc, roadmap
